<!DOCTYPE html>
<html lang="en"
class="dark"
xmlns:th="http://www.thymeleaf.org"
th:fragment="parent(content,title,script)"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

</head>
<body class="dark:bg-gray-900 dark:text-white">
    

   <div th:replace="navbar :: navbar "></div>


    <!-- main content -->
     <div class="h-full p-4 w-full">
        <section th:replace="${content}"></section>
     </div>
    

    <!-- footer section -->
    <div th:replace="footer :: footer"></div>
    

     <!-- flowbit link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <th:block th:replace="${script}"></th:block>
</body>
</html>