<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>

    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }

    </style>
</head>
<body>

    <div class="container">
        <h1 th:text="${name}">This is home page in scm</h1>
        <h2 data-th-text="${city}"></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quia quas dicta suscipit laborum fugit soluta vel inventore labore,
             sit nihil facilis quod rerum aliquid nesciunt voluptates quis aut 
             vitae! Animi, dolor aspernatur iure sit cumque rem ex incidunt 
             delectus ullam.</p>

    </div>
    
</body>
</html>